
PORT = 8000
MONGODB_URL = Your mongodb URl
JWT_SECRET= Your JWT SECRET
GEMINI_API_KEY= Your Gemini API Key
STRIPE_SECRET_KEY = Your Stripe SECRET Key
STRIPE_WEBHOOK_SECRET = Your Stripe Webhook SECRET
CLIENT_URL = CLient URl